<div id="createCourse" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <%= form_for Course.new do |f| %>
            <%= f.text_field :name,class: "form-control form-i", placeholder: "course's name" %>
            <%= f.text_area :description,class: "form-control form-i",placeholder: "course's description"%>
            <%= f.label :start_date %>
            <%= f.datetime_local_field  :start_date ,class: "form-control form-i", placeholder: "start date" %>
            <%= f.label :end_date %>
            <%= f.datetime_local_field  :end_date ,class: "form-control form-i", placeholder: "end date" %>
            
            <%= f.submit t('home.create_course_t'), class: "btn btn-primary submit" %>
          <% end %>
        </div>
      </div>
    </div>
</div>
